[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
Assets/StreamingAssets/*
Assets/StreamingAssets.meta
ProjectSettings/ProjectSettings.asset
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj

xcuserdata

